#form_music{
    margin-left: 8%
}

#form_music input {
    margin-left: 2%
}

select {
    margin-left: 2%
}

button {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    width: 12%;
    height: 42px
}

button:hover {
    cursor: pointer;
}

input {
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border-color: black;
}

select{
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    background-color: white;

}

form {
    margin-bottom: 5%;
}

